.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  min-height: 100vh;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
}
.home-content {
  width: 50%;
}
.heading,
.description {
  color: white;
  margin-bottom: 15px;
}
.heading {
  font-size: 50px;
}
.description {
  font-size: 30px;
}
.find-button {
  background-color: #4f46e5;
  color: white;
  border-width: 0px;
  padding: 6px 14px;
  border-radius: 6px;
}

@media screen and (max-width: 767px) {
  .heading {
    font-size: 20px;
  }
  .description {
    font-size: 15px;
  }
  .home-content {
    width: 90%;
  }
  .home-container {
    padding: 20px;
    display: inline-block;
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
    background-size: cover;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
}
